<section>
    <h3>About the game</h3>
    <p style="text-align: justify">
        NumberBee is an easy and fun discovery number game. 
        Even if you don't love numbers you will love this game. 
        It is played by given a five digits number and you receive some hints. 
        Number could be any number, digits could repeat themself or not or could be a binary number.
        Although there might be an optimal strategy to play, 
        there is always some level of chance to discover the number. 
        If you beat the game and would like to master it, try to finish with a smaller steps posible. 
        That would mean that you finished with fewer guesses. 
        This game is mobile compatible and you can play it on any device 
        - iPhone, iPad, Android or any other smartphone or normal computer.
    </p>
</section>