<section>
    <h1><a href="https://www.voltable.com/">Voltable.com</a></h1>
</section>

<section>
    <p><img src="img/numberbeegame.png" alt="NumberBee Game Logo" width="57" height="57" /></p>
    <h2>NumberBee Game</h2>
</section>