<section class="hp">
    <h3>How to play</h3>
    <p>For the game <code>'NumberBee'</code> the player has to guess the hidden number of 5 digits.</p>
    <p>In the two last columns <code>'P'</code> and <code>'M'</code> player will receive hints.</p>
    <p><code>'P'</code> means how many digits are in correct position.</p>
    <p><code>'M'</code> means how many digits are misplaced.</p>
    <p>Users has only <code>five</code> tries in binary mode and <code>fifteen</code> tries for the other modes.</p>
    <p>Ex: <code>2p, 1m</code> equals with two digits are in correct position and one are guessed but misplaced.</p>
    <p>The game can be played in three modes. <code>Standard</code> in which digits can repeat, <code>no repeat</code> which in this case digits are unique and finally <code>binary</code> where digits are just ones and zeros. </p>
</section>