<hr />
<p>Get your Free Revolut Credit Card!</p>
<div>
    <a target="_blank" rel="nofollow" href="https://revolut.com/referral/tonido75y!NOV1-22-AR">
        <img style="border-radius: 10px;" src="img/revolut.webp" width="300" height="158" alt="Get your revolut Card!" />
    </a>
</div>
