<a href="https://twitter.com/intent/tweet?text=Check+this+little+fun+discovery+number+game!&url=http://www.numberbeegame.com" rel="noopener" target="_blank" class="tw tb">Tweet!</a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.numberbeegame.com" rel="noopener" target="_blank" class="fb tb">Facebook!</a>
<a href="https://www.buymeacoffee.com/voltable.com" rel="noopener" target="_blank" class="cf tb">Support me with a coffee!</a>
