<a target="_blank" class="tw tb" href="https://twitter.com/intent/tweet?text=Check+this+little+fun+discovery+number+game!&url=http://www.numberbeegame.com">Tweet!</a>
<a target="_blank" class="fb tb" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.numberbeegame.com">Facebook!</a>
<a target="_blank" class="cf tb" href="https://www.buymeacoffee.com/voltable.com">Support me with a coffee!</a>
